#nosotros,
#listado,
#contacto {
  scroll-margin-top: 120px; /* ajusta si quieres */
}

html {
  scroll-behavior: smooth;
}

.card {
    border-radius: 12px;
    transition: 0.2s;
    background-color: rgba(92, 121, 250, 0.11);
}

.card:hover {
    transform: scale(1.03);
    opacity: 0.7;
}

.badge {
  font-size: 0.95rem !important;
  font-weight: 600 !important;
  color: #ffffff !important;
  text-shadow: 0 0 4px rgba(0,0,0,0.4);
  padding: 0.45rem 0.65rem !important;
}

.badge span {
  font-size: 1rem;
}

.card a {
  color: inherit !important;
  text-decoration: none !important;
}

#nav-secciones {
  position: sticky;
  top: 0;
  z-index: 1020;
}

#nav-secciones .nav-link {
  font-weight: 500;
}
